.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutTop {
  width: auto;
  /* height: auto; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBottom h1 {
  /* height: 100%; */
  text-align: center;
  margin-top: 10px;
}

.aboutBottom p { 
  text-align: justify;
  margin: 5px 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

@media only screen and (min-width: 480px) {
  .aboutTop {
    top: 0;
    right: 0;
    bottom: 0;
    height: 600px;
  }
}
